/*   box-sizing: inherit;
}

body {
  background-color: green;
  font-family: normal;
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.container {
  background-color: red;
  text-align: center;
}

.menu {
  padding: 1px;
  margin-bottom: 1px;
  background-color :#33b5e5;
}


[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

#header {
  background-color: #c9c9c9;
  padding: 5%;
  top: 0;
  font-family: 'Open Sans Serif', sans-serif;
  text-transform: uppercase;
  width: 100%;
}

.content {
  display: inline-block;
}



h1 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

img {
  max-width: 100%;
  }

/* TEXT IN IMAGES *//*
.preview {
  height: 300px;
  display: inline-block;
  width: 100%;
  background-size: cover;
  margin: 10px;
}

.baku {
background-image: url("../images/baku.jpg")
}

.london {
background-image: url("../images/london.png")
}

.madrid {
background-image: url("../images/madrid.jpg")
}

.rome {
background-image: url("../images/rome.jpg")
}


.top-left {
    position: absolute;
    top: 6px;
    left: 6px
}

@media only screen and (min-width: 600px) {
  .preview {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .preview {
    width:20%;
  }
}
 */

 /*
*, {
  box-sizing: border-box;
}
head {
  display: none;
}
body {
  background-color: green;
  font-family: normal;
  font-size: 1em;
}

/* the stuff contained... yes... *
.container {
  background-color: red;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.container > h1 {
  font-family: 'Open Sans Serif', sans-serif;
  background-color: blue;
  padding: 3em;
  text-transform: uppercase;
}

/* TEXT IN IMAGES *
.preview {
  height: 200px;
  display: inline-block;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  text-align: left;
  padding: 1em;
}

/* IMAGES *
.baku {
  background-image: url("../images/baku.jpg")
}

.london {
  background-image: url("../images/london.png")
}

.madrid {
  background-image: url("../images/madrid.jpg")
}

.rome {
  background-image: url("../images/rome.jpg")
}

* {
  box-sizing: border-box;
}

body {
  background-color: green;
  font-family: normal;
  font-size: 1em;
  flex-flow: wrap;
}

/* the stuff contained... yes... */
.container {
  background-color: red;
  text-align: center;
  margin: 0 auto;
}

.container > h1 {
  font-family: 'Open Sans Serif', sans-serif;
  background-color: blue;
  padding: 1em;
  text-transform: uppercase;
}

/* TEXT IN IMAGES */
.preview {
  height: 200px;
  display: inline-block;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
  padding: 1em;
}

/* IMAGES */
.baku {
  background-image: url("../images/baku.jpg")
}

.london {
  background-image: url("../images/london.png")
}

.madrid {
  background-image: url("../images/madrid.jpg")
}

.rome {
  background-image: url("../images/rome.jpg")
}
/*

##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

/
@media (min-width: 1281px) {
.preview {
  width: 100%;
}

/* ipad */
@media only screen
and (min-width : 768px)
and (max-width : 1281px)
and (orientation : portrait) {
  .preview {
  width: 40%;
  }
}

/* iphone */
@media only screen
  and (min-width: 320px)
  and (max-width: 768px) {
    .preview {
    width: 20%;
    flex-flow: column;
  }
}

/*
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*
@media (min-width: 1281px)
and (orientation: portrait) {
  .preview {
    width: 100%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/*
@media (min-width: 1025px) and (max-width: 1280px)
and (orientation: portrait) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*
@media (min-width: 768px) and (max-width: 1024px)
and (orientation: portrait) {

  //CSS

}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*
@media (min-width: 320px) and (max-width: 480px) {

  //CSS

}
/* ----------- Retina Screens -----------
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .preview {
}

/*margin-left: 10em;
margin-right: 10em;
