
* {
  box-sizing: border-box;
}

body {
  background-color: #c8c8c8;
  font-family: normal;
  font-size: 1em;
  flex-flow: wrap;
  margin: 8;
}

/* the stuff contained... yes... */
.container {
  background-color: #c8c8c8;
  text-align: center;
  margin: 0 auto;
}

.container > h1 {
  font-family: 'Open Sans Serif', sans-serif;
  background-color: #c8c8c8;
  padding: 2em;
  text-transform: uppercase;
}

/* TEXT IN IMAGES */
.preview {
  height: 200px;
  display: inline-block;
  width: 100%;
  background-size: cover;
  margin: 5px 10px 10px;
  margin-bottom: 10px;
  text-align: left;
  padding: 1em;

}

/* IMAGES */
.baku {
  background-image: url("../images/baku.jpg")
}

.london {
  background-image: url("../images/london.png")
}

.madrid {
  background-image: url("../images/madrid.jpg")
}

.rome {
  background-image: url("../images/rome.jpg")
}

@media and (min-width: 320px) {
  .preview {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .preview {
    width: 40%;
  }
}


@media only screen and (min-width: 1000px) {
  .preview {
    width: 20%;
  }
}
/*
